<div class="banner flex flex-center align-center">
  <h1>Boas-vindas ao <br> #CodeChella2023!</h1>
</div>

<div class="content_page">

  <div class="flex flex-center wrap gp-48">
    <div class="img_peoples"></div>

    <div class="flex flex-center align-center direction-column gp-24">
      <h6>< 11 e 12 de Março > <br> Aluródromo de São Paulo</h6>
      <p>Hora de programar nossa memória com novas <br> lembranças! 
        Uma nova experiência sobre música, <br> linguagens e, claro, tecnologia! 
        Somos um festival <br> diverso, com vários artistas e referências. Divirta-se!
      </p>
      <button class="flex svg align-center">
        Comprar ingresso!
        <svg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.25 17.875L16.8125 12.4375L21.1875 8.8125L15.5625 8.5L13.5 3.25L11.4375 8.5L5.75
            8.8125L10.1875 12.4375L8.75 17.875L13.5 14.8125L18.25 17.875ZM24.9375 9.625C24.4375 10.1667 
            24.1875 10.7917 24.1875 11.5C24.1875 12.2083 24.4375 12.8333 24.9375 13.375C25.4792 13.9167 
            26.1042 14.1875 26.8125 14.1875V19.5C26.8125 20.2083 26.5417 20.8333 26 21.375C25.5 21.9167 
            24.8958 22.1875 24.1875 22.1875H2.8125C2.10417 22.1875 1.47917 21.9167 0.9375 21.375C0.4375 
            20.8333 0.1875 20.2083 0.1875 19.5V14.1875C0.9375 14.1875 1.5625 13.9375 2.0625 13.4375C2.5625 
            12.8958 2.8125 12.25 2.8125 11.5C2.8125 10.7917 2.54167 10.1667 2 9.625C1.5 9.08333 0.895833 
            8.8125 0.1875 8.8125V3.5C0.1875 2.79167 0.4375 2.16667 0.9375 1.625C1.47917 1.08333 2.10417 
            0.8125 2.8125 0.8125H24.1875C24.8958 0.8125 25.5 1.08333 26 1.625C26.5417 2.16667 26.8125 
            2.79167 26.8125 3.5V8.8125C26.1042 8.8125 25.4792 9.08333 24.9375 9.625Z" fill="white"/>
        </svg>  
      </button>

    </div>
  </div>
  
  <div class="flex flex-center padding align-center">
    <h1 class="adjust-h1">/Line-Up/</h1>
  </div>

  <div class="flex flex-center align-center gp-24">
    <div class="orange-border"></div>
    <h3>Sábado <11/03></h3>
    <div class="orange-border"></div>
  </div>

  <div class="flex flex-center direction-column align-center gp-24">
    <h2>System of a DOM</h2>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h5>Python Maiden</h5>
      <h5>Apollo Client 2001</h5>
      <h5>Bon Java</h5>
      <h5>NickCallback</h5>
    </div>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h6 class="h6-label-band">Linkin Promises</h6>
      <h6 class="h6-label-band">Fullstack Fighters</h6>
      <h6 class="h6-label-band">Papa React</h6>
      <h6 class="h6-label-band">Angular in Chains</h6>
    </div>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h4>Agnostic Front-end</h4>
      <h4>SlipkNode</h4>
      <h4>Pink Flutter</h4>
      <h4>Kiss</h4>
    </div>
  </div>

  <div class="flex flex-center align-center gp-24 mt-60">
    <div class="orange-border"></div>
    <h3>Domingo <12/03></h3>
    <div class="orange-border"></div>
  </div>

  <div class="flex flex-center direction-column align-center gp-24">
    <h2>Lana Del Ploy</h2>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h5>Dua Lib</h5>
      <h5>The Backnd</h5>
      <h5>CSS Styles</h5>
      <h5>DJ Query</h5>
      <h5>ArrayAna Grande</h5>
    </div>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h6 class="h6-label-band">Miley Cypress</h6>
      <h6 class="h6-label-band">The Bootstrap Boys</h6>
      <h6 class="h6-label-band">Json Derulo</h6>
      <h6 class="h6-label-band">CloudPlay</h6>
      <h6 class="h6-label-band">Dev Lovato</h6>
    </div>
    <div class="flex flex-center gp-24 w-100 align-center labels-adjust">
      <h4>Kylie MiLOG</h4>
      <h4>Jenkins Brothers</h4>
      <h4>Rubycat Dolls</h4>
    </div>
  </div>

</div>

<div class="img_happy_peoples"></div>