.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}

.flex-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.btn {
    border: none;
    height: 30px;
    padding: 4px 30px;
    background-color: #bdecb6;
    color: #fff;
    border-radius: 50px;
}

.btn:hover{
    background-color: #fff;
    color: #bdecb6; 
}

.adjust-h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}

p {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    margin-block-end: 0px;
}

h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}